/* 
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --grey: #bababa;
  --black: #282623;
  --off-white: #faf8f7;
  --soft-blue: #e7f5ff;
  --just-white: #ffffff;
  --warm-black: #201e1c;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --bitcoin-orange: #f7931a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  width: 100%;
  height: 334px;
  display: flex;
  position: relative;
  min-width: 320px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    207.8deg,
    var(--warm-black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  height: 218px;
  min-width: 288px;
  max-width: 900px;
  margin-top: 36px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.header__title-container p {
  color: var(--soft-orange);
  font-size: 1.4rem;
  margin-top: 26px;
  font-weight: 500;
  line-height: 1.8rem;
}

.header__title-container .header__button {
  top: 270px;
  left: calc(50% - 114.5px);
  color: var(--black);
  width: 230px;
  height: 48px;
  border: none;
  display: block;
  padding: 16px;
  position: absolute;
  font-size: 1.4rem;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  margin-top: 36px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--off-white);
}

.header__button span {
  width: 14px;
  height: 8px;
  display: inline-block;
  margin-left: 10px;
  background-image: url("./src/assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  min-width: 320px;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding: 80px 0 30px;
  text-align: center;
}

.main-exchange__container--title {
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 900px;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-size: cover;
  background-image: url("./src/assets/icons/bitcoin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-exchange-container h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

.main-exchange-container p {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 30px;
}

.currency-table--container {
  gap: 2px;
  color: var(--grey);
  width: 100%;
  margin: 0 auto;
  height: 250px;
  display: grid;
  min-width: 230px;
  max-width: 300px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  grid-template-rows: repeat(4, 1f);
  grid-template-columns: repeat(2, 1fr);
}

.table__top-left {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: var(--just-white);
}

.top-left {
  border-top-left-radius: 8px;
}

.botton-left {
  border-bottom-left-radius: 8px;
}

.table__top-right {
  color: #757575;
  padding: 12px;
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
  align-items: center;
  line-height: 1.8rem;
  background-color: var(--just-white);
}
.table__top-right-second {
  color: #757575;
  padding: 12px;
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
  align-items: center;
  line-height: 1.8rem;
  justify-content: center;
  background-color: var(--just-white);
}

.top-right {
  border-top-right-radius: 8px;
}
.botton-right {
  border-bottom-right-radius: 8px;
}

.main__currency-table {
  width: 70%;
  height: 360px;
  margin: 0 auto;
  min-width: 235px;
  max-width: 500px;
  font-family: "Inter", sans-serif;
}

.main__currency-table .currency__table--title {
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.main__currency-table .currency__table--title--second {
  color: var(--secondary-blue);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.main__currency-table .currency_table--date {
  width: 190px;
  height: 32px;
  margin: 0 auto;
  padding: 8px;
  min-width: 172px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: var(--soft-orange);
}
.currency_table--date p {
  color: var(--warm-black);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.main__currency-table .currency_table--date--second {
  width: 190px;
  height: 32px;
  margin: 0 auto;
  padding: 8px;
  min-width: 172px;
  margin-top: 16px;
  border-radius: 8px;
  background-color: var(--soft-blue);
}

.currency_table--date--second p {
  color: var(--warm-black);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.currency-table--container .down {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-size: cover;
  background-image: url("./src/assets/icons/trending-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.currency-table--container .up {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-size: cover;
  background-image: url("./src/assets/icons/trending-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-product-detail {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  position: relative;
  min-width: 320px;
  background-color: var(--warm-black);
}

.product-detail--batata-logo {
  top: -10px;
  left: calc(50% - 20px);
  width: 40px;
  height: 26px;
  position: absolute;
  background-image: url("./src/assets/icons/logo.svg");
}

.product-detail--title {
  width: 90%;
  margin: 0 auto;
  height: auto;
  min-width: 288px;
  margin-top: 50px;
  text-align: center;
}

.product-detail--title h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

.product-detail--title p {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.product-detail--card {
  width: 90%;
  height: 150px;
  margin: 16px auto;
  padding: 16px;
  min-width: 288px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background-color: var(--black);
}

.product-detail--card .clock,
.product-detail--card .eye,
.product-detail--card .dolar,
.product-detail--card .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product--card-title {
  color: var(--just-white);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 16px;
}
.product--card-body {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 16px;
}

.clock {
  background-image: url("./src/assets/icons/clock.svg");
}

.eye {
  background-image: url("./src/assets/icons/eye.svg");
}

.dolar {
  background-image: url("./src/assets/icons/dollar-sign.svg");
}

.circle {
  background-image: url("./src/assets/icons/check-circle.svg");
}

.bitcoin-img-container {
  width: 100%;
  height: 50vh;
  min-width: 320px;
  background-size: cover;
  background-image: url("./src/assets/images/bitcoinbaby2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.bitcoin-img-container h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  line-height: 2.6rem;
}

/* Plans section */
.main-plans-container {
  width: 100%;
  min-width: 320px;
  text-align: center;
  padding-bottom: 70px;
}

.plans--title {
  width: 90%;
  height: auto;
  margin: 0 auto;
  min-width: 288px;
  margin-bottom: 50px;
}

.plans--title h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 64px;
  line-height: 2.6rem;
}

.plans--title p {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 30px;
  line-height: 1.8rem;
}

.plans-container--card {
  width: 70%;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 16px;
  position: relative;
  min-width: 230px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 16px;
  background-color: var(--just-white);
}
